<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load custom font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="node_modules/muicss/dist/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <style>
      body {
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
      }
    </style>
  </head>
  <body>
    <div id="main"></div>

    <script id="template" type="text/ractive">
      <div class="mui-container-fluid">
        <form class="mui-form">
          {{#each Object.keys(translations) as language}}
            <TranslateInput translations="{{translations}}" language="{{language}}" />
          {{/each}}
          <button type="button" class="mui-btn mui-btn--primary" on-click="@this.translate()">Translate missing</button>
        </form>
      </div>
    </script>

    <script src="node_modules/muicss/dist/js/mui.min.js"></script>
    <script src="node_modules/ractive/ractive.js"></script>
    <script src="index.js"></script>
  </body>
</html>